---
import { Image } from "astro:assets";
import CeoProfile from "../assets/images/ceo_profile.webp";
import MarkSimbol from "../assets/images/icons/marks.svg";
---

<section class="w-full mx-auto min-h-[1093px] bg-[#F0F3FF]">
    <div class="px-20 py-36">
        <div class="flex flex-row gap-x-16">
            <div class="flex flex-col">
                <Image
                    src={CeoProfile}
                    alt="Ceo Lorar Studio"
                    class="opacity-50 w-[450px] rounded"
                    fetchpriority="high"
                />

                <div class="flex flex-col justify-start gap-y-4">
                    <h1 class="text-lg text-secondary font-semibold mt-7">
                        Shana Lora
                    </h1>
                    <h2 class="text-base text-primary">CEO Lorar Studio</h2>
                </div>
            </div>
            <div class="relative py-32 w-[592px]">
                <MarkSimbol
                    class="absolute top-12 -left-10 w-[100px] opacity-50"
                />
                <p class="text-6xl text-primary font-semibold w-[592px]">
                    Lorar te ayuda a construir tu hermoso lugar.
                </p>
                <p class="text-xl font-light text-primary mt-11 leading-[1.5]">
                    Brindando la mejor soluci칩n, dise침amos el mejor edificio
                    para alcanzar sus m치s altas expectativas.
                </p>
            </div>
        </div>

        <div class="flex flex-row mt-20 justify-between px-32">
            <div class="flex flex-col gap-y-4">
                <h1 class="text-xl text-primary font-light uppercase">
                    A침os de experiencia
                </h1>
                <span class="text-4xl text-secondary mt-4 font-semibold">5</span
                >
            </div>

            <div class="flex flex-col gap-y-4 justify-end">
                <h1 class="text-xl text-primary font-light uppercase">
                    Proyectos Realizados
                </h1>
                <span class="text-4xl text-secondary mt-4 font-semibold"
                    >+10</span
                >
            </div>
        </div>
    </div>
</section>
