---
import { Image } from "astro:assets";
import CeoProfile from "../assets/images/ceo_profile.webp";
import MarkSimbol from "../assets/images/icons/marks.svg";
---

<section
    class="w-full mx-auto min-h-screem bg-[#F0F3FF] py-18 md:px-20 md:py-36"
>
    <div class="flex gap-x-8 md:gap-x-16">
        <div class="flex flex-col mx-5 md:mx-0">
            <Image
                src={CeoProfile}
                alt="CEO Profile"
                class="w-32 md:w-[450px] h-auto md:h-auto object-fill shadow-lg opacity-50 rounded"
                loading="lazy"
            />

            <div class="flex flex-col gap-x-10">
                <div class="flex flex-col gap-y-0.5 md:gap-y-2">
                    <h1
                        class="text-sm md:text-lg text-secondary font-semibold mt-3 md:mt-7"
                    >
                        Shana Lora
                    </h1>
                    <span class="text-xs md:text-base text-primary"
                        >CEO Lorar Studio</span
                    >
                </div>
            </div>
        </div>

        <div class="relative mt-4 md:mt-32 w-[292px] md:w-[592px]">
            <MarkSimbol
                class="absolute w-5 md:w-20 -top-2 md:-top-14 -left-5 md:-left-10"
            />
            <h1
                class="text-xl md:text-6xl text-primary font-semibold w-full md:w-[592px]"
            >
                Lorar te ayuda a construir tu hermoso lugar.
            </h1>
            <p
                class="mt-4 md:mt-11 text-xs md:text-xl text-primary font-light leading-[1.5] md:leading-[1.5]"
            >
                Brindando la mejor soluci칩n, dise침amos el mejor edificio para
                alcanzar sus m치s altas expectativas.
            </p>
        </div>
    </div>

    <div class="flex mt-5 md:mt-20 justify-between px-5 md:px-32">
        <div class="flex flex-col gap-y-0 md:gap-y-4">
            <h1 class="text-xs md:text-xl text-primary font-light uppercase">
                A침os de experiencia
            </h1>
            <span
                class="text-xl md:text-4xl text-secondary mt-1 md:mt-4 font-semibold"
            >
                6
            </span>
        </div>
        <div class="flex flex-col gap-y-0 md:gap-y-4">
            <h1 class="text-xs md:text-xl text-primary font-light uppercase">
                Proyectos Realizados
            </h1>
            <span
                class="text-xl md:text-4xl text-secondary mt-1 md:mt-4 font-semibold"
            >
                +10
            </span>
        </div>
    </div>
</section>
