---
import TreesIcon from "../assets/images/icons/Trees.svg";
import IconHouse from "../assets/images/icons/IconHouse.svg";
import IconBuilding from "../assets/images/icons/IconBuilding.svg";
---

<section class="flex flex-col w-full py-14 mx-auto px-38 bg-white">
    <h1 class="text-4xl text-secondary font-semibold w-[737px] leading-[1.5]">
        Ofrecemos un diseño creativo<br /> para tu próximo lugar de <br /> residencia.
    </h1>

    <div class="flex gap-x-11 mt-20">
        <div class="flex justify-between items-center gap-x-20">
            <figure class="flex flex-col gap-y-10 items-center w-[353px]">
                <TreesIcon class="size-40" aria-label="Logo Tree" />
                <figcaption>
                    <h2 class="text-3xl text-secondary font-bold">Plantas</h2>
                    <p class="text-base text-primary mt-4">
                        Añade un toque natural a tu hogar y hazlo más
                        sostenible.
                    </p>
                </figcaption>
            </figure>

            <figure class="flex flex-col gap-y-10 items-center w-[353px]">
                <IconHouse class="size-40" aria-label="Logo House" />
                <figcaption>
                    <h2 class="text-3xl text-secondary font-bold">
                        Minimalista
                    </h2>
                    <p class="text-base text-primary mt-4">
                        Transforma tu hogar con un toque de naturaleza, creando
                        espacios más frescos y armoniosos.
                    </p>
                </figcaption>
            </figure>

            <figure class="flex flex-col gap-y-10 items-center w-[353px]">
                <IconBuilding aria-label="Logo Apartment" class="size-40" />
                <figcaption>
                    <h2 class="text-3xl text-secondary font-bold">Moderno</h2>
                    <p class="text-base text-primary mt-4">
                        Vivir de manera más natural es una tendencia actual, por
                        eso nos encargamos de transformar tu hogar.
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
