---
import TreesIcon from "../assets/images/icons/Trees.svg";
import IconHouse from "../assets/images/icons/IconHouse.svg";
import IconBuilding from "../assets/images/icons/IconBuilding.svg";
---

<section class="w-full py-14 md:px-38 bg-white">
    <div class="flex flex-col mx-5">
        <h1
            class="text-xl md:text-4xl text-secondary font-semibold w-full md:w-[737px] leading-[1.5]"
        >
            Ofrecemos un diseño creativo<br /> para tu próximo lugar de <br /> residencia.
        </h1>

        <div class="flex flex-col mt-10 md:mt-20">
            <div
                class="flex flex-col md:flex-row md:justify-between md:gap-x-10"
            >
                <figure
                    class="flex flex-col gap-y-6 items-center mb-10 md:mb-0 md:w-1/3"
                >
                    <TreesIcon class="size-40" aria-label="Logo Tree" />
                    <figcaption>
                        <h2 class="text-3xl text-secondary font-bold">
                            Plantas
                        </h2>
                        <p class="text-base text-primary mt-4">
                            Añade un toque natural a tu hogar y hazlo más
                            sostenible.
                        </p>
                    </figcaption>
                </figure>

                <figure
                    class="flex flex-col gap-y-6 items-center mb-10 md:mb-0 md:w-1/3"
                >
                    <IconHouse class="size-40" aria-label="Logo House" />
                    <figcaption>
                        <h2 class="text-3xl text-secondary font-bold">
                            Minimalista
                        </h2>
                        <p class="text-base text-primary mt-4">
                            Transforma tu hogar con un toque de naturaleza,
                            creando espacios más frescos y armoniosos.
                        </p>
                    </figcaption>
                </figure>

                <figure class="flex flex-col gap-y-6 items-center md:w-1/3">
                    <IconBuilding aria-label="Logo Apartment" class="size-40" />
                    <figcaption>
                        <h2 class="text-3xl text-secondary font-bold">
                            Moderno
                        </h2>
                        <p class="text-base text-primary mt-4">
                            Vivir de manera más natural es una tendencia actual,
                            por eso nos encargamos de transformar tu hogar.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
