---
import Logo from "../assets/logo.svg";
---

<footer class="w-full flex flex-row bg-white py-7">
    <div class="flex justify-between items-center mx-5">
        <a href="">
            <Logo class="size-11" />
        </a>
    </div>
</footer>
