---
import NextIcon from "../assets/images/icons/NextIcon.svg";
import BackIcon from "../assets/images/icons/BackIcon.svg";
---

<section class="w-full py-14 md:px-38 bg-[#F0F3FF]" id="projects">
    <div class="flex flex-row items-center justify-between mx-5">
        <h1
            class="text-xl md:text-4xl text-secondary font-semibold w-full md:w-[737px] leading-[1.5]"
        >
            No solo diseñamos y<br /> construimos, sino que también<br /> creamos
            un espacio único para ti y tu familia.
        </h1>
        <div class="hidden md:flex flex-row gap-5">
            <button class="cursor-pointer"><BackIcon /></button>
            <button class="cursor-pointer"><NextIcon /></button>
        </div>
    </div>
</section>
