---
import SecondDownloadIcon from "../assets/images/icons/Download-2.svg";
import Logo from "../assets/logo.svg";
import SpiralArrow from "../assets/images/icons/spiral_arrow.svg";
---

<section
    class="mt-40 mx-10 min-h-screen relative px-4 sm:px-8 md:px-16 xl:px-20"
>
    <div class="relative w-full max-w-[660px] h-auto">
        <h1
            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-primary font-semibold leading-tight sm:leading-[1.2] md:leading-[1.15] animate-fade-in"
        >
            Donde las ideas toman forma y el espacio cobra vida.
        </h1>
        <div class="mt-9 flex flex-row gap-x-6">
            <a
                href="#proyectos"
                class="flex justify-center items-center bg-primary text-tertiary text-base w-40 px-5 py-3 rounded transition-transform duration-300 hover:scale-105 animate-fade-in animate-delay-500"
                >Ver proyectos</a
            >
            <button
                class="flex justify-center items-center text-secondary text-base w-48 h-12 px-5 py-3 rounded transition-transform duration-300 hover:scale-105 gap-x-2 cursor-pointer animate-fade-in animate-delay-700"
                >Portfolio <SecondDownloadIcon class="size-4" />
            </button>

            <SpiralArrow
                class="hidden md:block md:absolute md:right-0 md:bottom-0 md:size-40"
            />
        </div>
    </div>
    <div
        class="absolute -right-9 top-[40%] md:-right-9 md:absolute md:top-[15%]"
    >
        <Logo
            class="size-[212px] md:size-[212px] lg:size-[424px] xl:size-[530px] text-primary object-cover animate-fade-in animate-delay-1000 overflow-hidden -z-10"
        />
    </div>
</section>
