---
import SecondDownloadIcon from "../assets/images/icons/Download-2.svg";
import Logo from "../assets/logo.svg";
import SpiralArrow from "../assets/images/icons/spiral_arrow.svg";
---

<section
    class="mt-40 py-10 mx-10 max-h-screen md:min-h-screen relative px-4 sm:px-8 md:px-16 xl:px-20 mb-70 md:mb-0"
>
    <div class="relative w-full max-w-[660px] h-auto">
        <h1
            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-primary font-semibold leading-tight sm:leading-[1.2] md:leading-[1.15] animate-fade-in"
        >
            Donde las ideas toman forma y el espacio cobra vida.
        </h1>
        <div class="mt-9 flex flex-row gap-x-6">
            <a
                href="#projects"
                class="flex justify-center items-center bg-primary text-tertiary text-base w-40 md:px-5 md:py-3 rounded transition-transform duration-300 hover:scale-105 animate-fade-in animate-delay-500"
                >Ver proyectos</a
            >
            <button
                class="flex justify-center items-center text-secondary text-base w-48 h-12 px-5 py-3 rounded transition-transform duration-300 hover:scale-105 gap-x-2 cursor-pointer animate-fade-in animate-delay-700"
                >Portfolio <SecondDownloadIcon class="size-4" />
            </button>

            <SpiralArrow
                class="hidden md:block md:absolute md:right-0 md:bottom-0 md:size-40 animate-fade-in animate-delay-800"
            />
        </div>
    </div>
    <div
        class="absolute right-0 bottom-0 transform -translate-x-4 translate-y-60 sm:translate-y-64 md:translate-y-0 lg:translate-y-[-20px] xl:translate-y-[-30px] 2xl:translate-y-[-40px]"
    >
        <Logo
            class="size-[180px] sm:size-[200px] md:size-[280px] lg:size-[380px] xl:size-[480px] 2xl:size-[580px] text-primary object-cover animate-fade-in animate-delay-1000 -z-10"
        />
    </div>
</section>
