---
import "./src/styles/global.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Lorar Studio - Donde el diseño de tus sueños cobra vida</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="description"
			content="Pagina de diseño y creacion de planos arquitectonicos y renders"
		/>

		<!--OpenGraph Meta Tags -->
		<meta property="og:url" content="https://lorarstudio.vercel.app" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Lorar Studio - Pagina de diseño y creacion de planos arquitectonicos y renders"
		/>
		<meta
			property="og:description"
			content="Lorar Studio - Pagina de diseño y creacion de planos arquitectonicos y renders"
		/>
		<meta property="og:image" content="https://lorarstudio.com/og.jpeg" />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:site_name" content="Lorar Studio" />

		<!-- Instagram Meta Tags -->
		<meta name="instagram:card" content="summary_large_image" />
		<meta name="instagram:site" content="@lorarstudio" />
		<meta name="instagram:creator" content="@shanalora" />
		<meta
			name="instagram:title"
			content="Lorar Studio - Pagina de diseño y creacion de planos arquitectonicos y renders"
		/>
		<meta
			name="instagram:description"
			content="Lorar Studio - Pagina de diseño y creacion de planos arquitectonicos y renders"
		/>

		<!--Facebook Metatags -->
		<meta name="facebook:site" content="@lorarstudio" />
		<meta name="facebook:card" content="summary_large_image" />
		<meta
			name="facebook:title"
			content="Lorar Studio - Planos Arquitectonicos y Renders"
		/>
		<meta name="facebook:creator" content="@shanalora" />

		<!--Additional Meta Tags -->
		<meta name="keywords" content="arquitectura, diseño, planos, renders" />
		<meta name="theme-color" content="#c3cbea" />
		<meta name="author" content="Shana Lora" />
	</head>
	<body class="w-full mx-auto" id="home">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		scroll-behavior: smooth;
		margin: 0;
		width: 100%;
		height: 100%;
		background: #c3cbea;
		font-family: "Poppins", sans-serif;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
